pkgbase = matrix-commander
	pkgdesc = Simple CLI-based Matrix client
	pkgver = 8.0.4
	pkgrel = 2
	url = https://github.com/8go/matrix-commander
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = bash
	depends = python
	depends = python-aiohttp
	depends = python-async-timeout
	depends = python-aiofiles
	depends = python-emoji
	depends = python-markdown
	depends = python-matrix-nio
	depends = python-pillow
	depends = python-setuptools
	depends = python-magic
	depends = python-pyxdg
	depends = python-atomicwrites
	depends = python-cachetools
	depends = python-olm
	depends = python-peewee
	optdepends = python-notify2: needed for notifications on desktop systems
	source = matrix-commander-8.0.4::https://files.pythonhosted.org/packages/source/m/matrix-commander/matrix_commander-8.0.4.tar.gz
	sha256sums = 464f7a4e3a632f5f13f831b882484d91552e3868292a63b9671cc1562f513fef

pkgname = matrix-commander
