pkgbase = heroku-cli
	pkgdesc = CLI to manage Heroku apps and services with forced auto-update removed
	pkgver = 9.3.0
	pkgrel = 1
	url = https://devcenter.heroku.com/articles/heroku-cli
	arch = any
	license = custom
	license = ISC
	makedepends = yarn
	makedepends = git
	makedepends = npm
	depends = nodejs
	optdepends = git: Deploying to Heroku
	provides = heroku
	provides = heroku-cli
	conflicts = heroku-cli-bin
	conflicts = heroku-client-standalone
	conflicts = heroku-toolbelt
	conflicts = ruby-heroku
	options = !strip
	source = git+https://github.com/heroku/cli.git#commit=v9.3.0
	sha256sums = 9b4b3744b618c52a0038db469e663d2b8723d8d72609a4941fb70a9ba5689051
	sha512sums = 91bf9ec53b7360eab26e8d8e44f0398ee7ec00469cb6a809fc0ad0ef255faf686de3bd2dfdb684671a20dfea810eccc88078672c04d853d0e4f306f5d82668b2

pkgname = heroku-cli
