pkgbase = heroku-cli
	pkgdesc = CLI to manage Heroku apps and services with forced auto-update removed
	pkgver = 8.11.5
	pkgrel = 1
	url = https://devcenter.heroku.com/articles/heroku-cli
	arch = any
	license = custom
	license = ISC
	makedepends = yarn
	makedepends = git
	makedepends = npm
	depends = nodejs
	optdepends = git: Deploying to Heroku
	provides = heroku
	provides = heroku-cli
	conflicts = heroku-cli-bin
	conflicts = heroku-client-standalone
	conflicts = heroku-toolbelt
	conflicts = ruby-heroku
	options = !strip
	source = git+https://github.com/heroku/cli.git#commit=v8.11.5
	sha256sums = 770c12c6ecb16c4cdfaff549a5a166335a79c92e757c1fce6782dec9615968ee
	sha512sums = 9e23b5d6a5ea51e5f90a923435becdcbf4d168123e42e712c8c5ed14259400daac3d2953471c65ad5884a6eedf70d631af8a34c21290fc898808c99624fb2eeb

pkgname = heroku-cli
