pkgbase = heroku-cli
	pkgdesc = CLI to manage Heroku apps and services with forced auto-update removed
	pkgver = 8.11.1
	pkgrel = 1
	url = https://devcenter.heroku.com/articles/heroku-cli
	arch = any
	license = custom
	license = ISC
	makedepends = yarn
	makedepends = git
	makedepends = npm
	depends = nodejs
	optdepends = git: Deploying to Heroku
	provides = heroku
	provides = heroku-cli
	conflicts = heroku-cli-bin
	conflicts = heroku-client-standalone
	conflicts = heroku-toolbelt
	conflicts = ruby-heroku
	options = !strip
	source = git+https://github.com/heroku/cli.git#commit=v8.11.1
	sha256sums = d9138827a59b6ddf630da902f543ca5a088ac13e50e2b8eb33aaad915edb1b4f
	sha512sums = 21aa184176143bed3376d4d6bff9df848e49bf55d6e8cae321e37d353c56065a761c27ee32c6fdd1d05c7cb2efb7d3acd7a182572733def604b47d7393b1d82b

pkgname = heroku-cli
