pkgbase = python-matrix-nio
	pkgdesc = Python Matrix client library, designed according to sans I/O principles
	pkgver = 0.25.0
	pkgrel = 1
	url = https://github.com/matrix-nio/matrix-nio
	changelog = CHANGELOG.md
	arch = any
	license = ISC
	checkdepends = python-pytest
	checkdepends = python-pytest-isort
	checkdepends = python-pytest-cov
	checkdepends = python-hyperframe
	checkdepends = python-hypothesis
	checkdepends = python-hpack
	checkdepends = python-faker
	checkdepends = mypy
	checkdepends = python-pytest-aiohttp
	checkdepends = python-aioresponses
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-asyncio
	checkdepends = python-ruff
	checkdepends = python-olm
	checkdepends = python-peewee
	checkdepends = python-cachetools
	checkdepends = python-atomicwrites
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	depends = python-aiohttp
	depends = python-aiofiles
	depends = python-h11
	depends = python-h2
	depends = python-jsonschema
	depends = python-unpaddedbase64
	depends = python-pycryptodome
	depends = python-aiohttp-socks
	optdepends = python-olm: end-to-end encryption support
	optdepends = python-peewee: end-to-end encryption support
	optdepends = python-cachetools: end-to-end encryption support
	optdepends = python-atomicwrites: end-to-end encryption support
	source = python-matrix-nio-0.25.0.tar.gz::https://api.github.com/repos/matrix-nio/matrix-nio/tarball/refs/tags/0.25.0
	b2sums = 45b455c8c2169c0c10f369cfb86bac4e258a8516f9fcaa083839a37dc64df9d749789942bf14881096a0ac771d77e8caac4dd6db2b5431771d184592e80f4f7c

pkgname = python-matrix-nio
