pkgbase = jellyfin-media-player
	pkgdesc = Jellyfin Desktop Client
	pkgver = 1.9.1
	pkgrel = 7
	url = https://github.com/jellyfin/jellyfin-media-player
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = git
	makedepends = python
	depends = mpv
	depends = libcec
	depends = sdl2
	depends = p8-platform
	depends = protobuf
	depends = qt5-webengine
	depends = qt5-x11extras
	depends = qt5-quickcontrols
	source = https://github.com/jellyfin/jellyfin-media-player/archive/refs/tags/v1.9.1.tar.gz
	source = jellyfin_10.9.1.tar.xz::https://repo.jellyfin.org/files/server/portable/stable/v10.9.1/any/jellyfin_10.9.1.tar.xz
	source = disable-update-check.patch
	source = fix-mpv-0_38_0.patch
	source = fix-mpv-volume.patch
	sha256sums = 8d119bb78e897ace3041cf332114a79c51be4d8e0cc8c68f5745fd588c2b9bde
	sha256sums = 8b59359002c7ba6247aa00a96eb443c4f6436d6e979c256b95351d1b0e1e2039
	sha256sums = add2430dec35bef4fbf028273f8492cc8a530e9f6a3c2ae4b0a33d83e743aec1
	sha256sums = 3cb05f527df63ce34b50099a5676ee65d2c5a902c47d238e355a615c8b439f66
	sha256sums = 9c64e8b2535be5545fa4bdff9984298b67ae490478d224b7b4f6a202f7ba64b3

pkgname = jellyfin-media-player
