pkgbase = amdgpu-pro-installer
	pkgver = 24.10_1787253
	pkgrel = 1
	url = https://www.amd.com/en/support/kb/release-notes/rn-amdgpu-unified-linux-22-40
	arch = x86_64
	groups = Radeon_Software_for_Linux
	license = custom: multiple
	source = progl::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl
	source = progl.bash-completion::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl.bash-completion
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/a/amf-amdgpu-pro/amf-amdgpu-pro_1.4.34-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/liba/libamdenc-amdgpu-pro/libamdenc-amdgpu-pro_1.0-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_24.10-1787253.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_24.10-1787253.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-ext_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-gbm_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_24.10-1787253.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_24.10-1787253.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_24.10-1787253.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_24.10-1787253.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_24.10-1787253.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.1.3/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_24.10-1787253.22.04_amd64.deb
	sha256sums = feb74796c3152cbafaba89d96e68a152f209bd3058c7eb0413cbe1ab0764e96f
	sha256sums = e32801c38b475cd8df17a407726b86db3de26410f563d688325b4d4314fc5354
	sha256sums = e6c308d24b6a4034eee7138a3fd4fdbe3692207422cc5d701e1a897159d8e347
	sha256sums = 45291643783efae295ae4e49f51f1603aa8bd1ff81db3f3f9a57e543f71065c8
	sha256sums = 151da11e9aaf7811ff6a0137153564edea0b89851a41b724e50c4068dbba4172
	sha256sums = 7e3619650a25acc50b8d767769e41ee01c6bd95d443a9d3c425494e43e8159fb
	sha256sums = 1cc76d62422ba91eccb07208639835a86a2a8a208e24148c5a00ab8dadbe03f5
	sha256sums = 96f4cab0a1f41ce48494c241fd3f5f688a2dd7ac1fe73a0314a2bc69b80b50bb
	sha256sums = 89307f78bf12f562274026790c0be8aff87116cce92f1130820345f46fd687ed
	sha256sums = 7863304a9a1238275e8fd3e39ff44c836e072898b583e6c56fda6310453ff174
	sha256sums = 8c58d20c416ab44d5fdaa37e5195deb2a964e0c8130ab22764bf2ab3518f2548
	sha256sums = 32f29d6f08101edcbb1d5552c7917bc30e4265dba5a1af7f972306fab735b613
	sha256sums = 419f33e582fe36a09b8af210ed653f60de6a0546dc4e0f1c83cd27e83ddd6861
	sha256sums = 0fb8081d1d223d9e6395662f4477ce0a9c4c87f9bb585ea8dddc18fa78197a07
	sha256sums = 4c4a97b519cad2ee6eed4589a04da2a4bcbb66601685327735728a8bde3cc6cc
	sha256sums = c069add0f178944376468ae6fa15e26bb39d0b56d192b8686e3dd9d8c00c7475
	sha256sums = 11d2da8381c21bf48977d27298751a44ba22dbd581c7afe1376747a38b44b140
	sha256sums = c5a619537aebfebad77bfc55a1ba2fc451c56de8407e54f937250d5639256e5a

pkgname = amf-amdgpu-pro
	pkgdesc = AMDGPU Pro Advanced Multimedia Framework
	license = custom: AMDGPU-PRO EULA
	depends = libdrm
	depends = vulkan-icd-loader
	optdepends = rocm-opencl-runtime: Warning unspecified optdep description
	optdepends = vulkan-radeon: Warning unspecified optdep description
	optdepends = amdgpu-dkms-firmware: Warning unspecified optdep description
	optdepends = amdgpu-dkms: Warning unspecified optdep description

pkgname = amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver
	license = custom: AMDGPU-PRO EULA
	depends = libglvnd
	depends = libx11
	provides = libgl

pkgname = lib32-amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = lib32-libx11
	provides = lib32-libgl

pkgname = vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver
	license = custom: AMDGPU-PRO EULA
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	optdepends = openssl-1.1: Warning unspecified optdep description
	provides = vulkan-driver

pkgname = lib32-vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-zlib
	optdepends = lib32-openssl-1.1: Warning unspecified optdep description
	provides = lib32-vulkan-driver
