pkgbase = xkeyboard-config
	pkgdesc = X keyboard configuration files
	pkgver = 2.44.pre0.g6e09d43
	pkgrel = 1
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config
	arch = any
	license = LicenseRef-xkeyboard-config
	makedepends = xorg-xkbcomp
	makedepends = libxslt
	makedepends = python
	makedepends = meson
	makedepends = git
	provides = xkbdata
	conflicts = xkbdata
	replaces = xkbdata
	source = git+https://github.com/jackrosenthal/xkeyboard-config#commit=6e09d436008cf04ae00e0338ec4325d93987b2f9
	validpgpkeys = FFB4CCD275AAA422F5F9808E0661D98FC933A145
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = xkeyboard-config
