pkgbase = coreboot-utils
	pkgdesc = Tools and utilities to work with coreboot firmware
	pkgver = 4.17
	pkgrel = 1
	url = https://www.coreboot.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = go
	depends = pciutils
	optdepends = python: me_cleaner support
	provides = ectool
	conflicts = coreboot-utils-git
	source = coreboot.4.17.tar.gz::https://coreboot.org/releases/coreboot-4.17.tar.xz
	sha256sums = 20e6aaa6dd0eaec7753441c799711d1b4630e3ca709536386f2242ac2c8a1ec5

pkgname = coreboot-utils
