pkgbase = bambustudio-appimage
	pkgdesc = PC Software for BambuLab and other 3D printers
	pkgver = 2.5.2
	pkgrel = 2
	url = https://github.com/bambulab/BambuStudio
	arch = x86_64
	license = AGPL-3.0
	depends = webkit2gtk-4.1
	provides = bambustudio
	conflicts = bambustudio
	conflicts = bambustudio-git
	conflicts = bambustudio-bin
	options = !strip
	options = !debug
	source = BambuStudio-2.5.2.AppImage::https://github.com/bambulab/BambuStudio/releases/download/v02.05.02.51/BambuStudio_ubuntu-24.04_v02.05.02.51-20260327222803.AppImage
	sha256sums = b5675af34337715e61ced12862465519a6d032083aa7273f3a788f25f8213744

pkgname = bambustudio-appimage
