pkgbase = jellyfin-web
	pkgdesc = Web client for Jellyfin
	pkgver = 10.9.3
	pkgrel = 0
	url = https://jellyfin.org
	arch = any
	license = GPL2
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	source = jellyfin-web::git+https://github.com/jellyfin/jellyfin-web#commit=ea1cadf4b6f331b4f7c4fda80eccfb4212536184
	b2sums = SKIP

pkgname = jellyfin-web
