pkgbase = httptoolkit
	pkgdesc = Beautiful, cross-platform & open-source HTTP(S) proxy, analyzer and client.
	pkgver = 1.24.2
	pkgrel = 1
	epoch = 1
	url = https://httptoolkit.com/
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = git
	makedepends = npm
	depends = electron
	depends = python
	source = httptoolkit-1.24.2.tar.gz::https://github.com/httptoolkit/httptoolkit-desktop/archive/refs/tags/v1.24.2.tar.gz
	source = httptoolkit.desktop
	sha256sums = 9f66c90ac842821c03dd2ace2807fafc635fe02f83875b339cbd3c80a8e22aad
	sha256sums = e8a8fd3ce7983753d3c990402c079a7876aad9b08e1822b5494ce4abdfc1a544

pkgname = httptoolkit
