pkgbase = httptoolkit
	pkgdesc = Beautiful, cross-platform & open-source HTTP(S) proxy, analyzer and client.
	pkgver = 1.26.0
	pkgrel = 1
	epoch = 1
	url = https://httptoolkit.com/
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = git
	makedepends = npm
	depends = electron39
	depends = python
	source = httptoolkit-1.26.0.tar.gz::https://github.com/httptoolkit/httptoolkit-desktop/archive/refs/tags/v1.26.0.tar.gz
	source = httptoolkit.desktop
	sha256sums = 8119c3ae9185c75103ffb7fb3e4154996929b97bd24a0f480a9bb7f2e67d448d
	sha256sums = e8a8fd3ce7983753d3c990402c079a7876aad9b08e1822b5494ce4abdfc1a544

pkgname = httptoolkit
