pkgbase = android-apktool-bin
	pkgdesc = A tool for reverse engineering Android .apk files
	pkgver = 2.12.0
	pkgrel = 1
	url = https://github.com/iBotPeaches/Apktool
	arch = any
	license = Apache-2.0
	depends = java-runtime>=8
	provides = android-apktool
	conflicts = android-apktool
	conflicts = android-apktool-git
	noextract = apktool_2.12.0.jar
	source = https://github.com/iBotPeaches/Apktool/releases/download/v2.12.0/apktool_2.12.0.jar
	source = apktool
	sha256sums = effb69dab2f93806cafc0d232f6be32c2551b8d51c67650f575e46c016908fdd
	sha256sums = 48a5c9d664c88c8beac4a85461e84437d104a42dac6334322a3bafca12b63bae

pkgname = android-apktool-bin
