pkgbase = ttf-iosevka
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 33.3.1
	pkgrel = 1
	url = https://typeof.net/Iosevka/
	arch = any
	license = OFL
	source = https://github.com/be5invis/Iosevka/releases/download/v33.3.1/PkgTTF-Iosevka-33.3.1.zip
	source = ttf-iosevka-33.3.1-1-LICENSE.md::https://raw.githubusercontent.com/be5invis/Iosevka/v33.3.1/LICENSE.md
	sha256sums = a101c78a578c31623da56c8a8d86427fea7ef7e3c7be9a90bb79f223c898936a
	sha256sums = 52579dd4ebbda8e5a9d314e395dbfe40de82b4b7b3007ec8458876823af8dddd

pkgname = ttf-iosevka
