pkgbase = easyuki
	pkgdesc = Go CLI tool for stateless EFI system partitions with mkinitcpio UKI images
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/jackrosenthal/easyuki
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = mkinitcpio
	options = !debug
	source = easyuki-0.0.2.tar.gz::https://github.com/jackrosenthal/easyuki/archive/refs/tags/v0.0.2.tar.gz
	sha256sums = cb72bee9ae049c0f6e5a7bf0f5fb9fd31182591b02afbb50ac035806e327b0fb

pkgname = easyuki
