pkgbase = ttf-harmonyos-sans
	pkgdesc = HarmonyOS Sans Fonts.华为鸿蒙字体
	pkgver = 2024.06.19
	pkgrel = 3
	url = https://developer.huawei.com/consumer/cn/design/resource/
	arch = any
	license = LicenseRef-custom
	conflicts = harmonyos-sans
	source = ttf-harmonyos-sans-2024.06.19.zip::https://developer.huawei.com/images/download/next/HarmonyOS-Sans-v2.zip
	sha256sums = ba7ddf71fc4dee33a7170869564ad76d421a2ed5c58e5aac9a573c39945ef654

pkgname = ttf-harmonyos-sans
