pkgbase = ttf-iosevka-term
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 31.1.0
	pkgrel = 1
	url = https://typeof.net/Iosevka/
	arch = any
	license = OFL
	source = https://github.com/be5invis/Iosevka/releases/download/v31.1.0/PkgTTF-IosevkaTerm-31.1.0.zip
	source = ttf-iosevka-term-31.1.0-1-LICENSE.md::https://raw.githubusercontent.com/be5invis/Iosevka/v31.1.0/LICENSE.md
	sha256sums = 0e113c14cd904dedd14b81b3a1b3179e4ade4c0a1bca1822ae5e5398bda51aec
	sha256sums = 8c914a5c7d8d5e5be1ae07fd8591b437ece15b665f6ccc913cea050ffa8448f7

pkgname = ttf-iosevka-term
