pkgbase = ttf-iosevka-term
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 33.1.0
	pkgrel = 1
	url = https://typeof.net/Iosevka/
	arch = any
	license = OFL
	source = https://github.com/be5invis/Iosevka/releases/download/v33.1.0/PkgTTF-IosevkaTerm-33.1.0.zip
	source = ttf-iosevka-term-33.1.0-1-LICENSE.md::https://raw.githubusercontent.com/be5invis/Iosevka/v33.1.0/LICENSE.md
	sha256sums = 067c25261972103d0ea8d2bae4f33d1e64126e06800d28ff92ef82334e314987
	sha256sums = 52579dd4ebbda8e5a9d314e395dbfe40de82b4b7b3007ec8458876823af8dddd

pkgname = ttf-iosevka-term
