pkgbase = ttf-iosevka-term
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 33.2.1
	pkgrel = 1
	url = https://typeof.net/Iosevka/
	arch = any
	license = OFL
	source = https://github.com/be5invis/Iosevka/releases/download/v33.2.1/PkgTTF-IosevkaTerm-33.2.1.zip
	source = ttf-iosevka-term-33.2.1-1-LICENSE.md::https://raw.githubusercontent.com/be5invis/Iosevka/v33.2.1/LICENSE.md
	sha256sums = bfe9f4d7103fd849ff4ecbb8430e8bdb6090ef2d70cda9fb49c465ba0aeb7c8f
	sha256sums = 52579dd4ebbda8e5a9d314e395dbfe40de82b4b7b3007ec8458876823af8dddd

pkgname = ttf-iosevka-term
