pkgbase = amdgpu-pro-installer
	pkgver = 24.20_2044449
	pkgrel = 1
	url = https://www.amd.com/en/support/kb/release-notes/rn-amdgpu-unified-linux-22-40
	arch = x86_64
	groups = Radeon_Software_for_Linux
	license = custom: multiple
	source = progl::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl
	source = progl.bash-completion::https://raw.githubusercontent.com/Ashark/archlinux-amdgpu-pro/master/progl.bash-completion
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/a/amf-amdgpu-pro/amf-amdgpu-pro_1.4.35-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/liba/libamdenc-amdgpu-pro/libamdenc-amdgpu-pro_1.0-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_24.20-2044449.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libegl1-amdgpu-pro-oglp_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_24.20-2044449.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-dri_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-ext_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-gbm_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_24.20-2044449.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgl1-amdgpu-pro-oglp-glx_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_24.20-2044449.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles1-amdgpu-pro-oglp_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_24.20-2044449.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/o/oglp-amdgpu-pro/libgles2-amdgpu-pro-oglp_24.20-2044449.22.04_amd64.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_24.20-2044449.22.04_i386.deb
	source = https://repo.radeon.com/amdgpu/6.2.3/ubuntu/pool/proprietary/v/vulkan-amdgpu-pro/vulkan-amdgpu-pro_24.20-2044449.22.04_amd64.deb
	sha256sums = feb74796c3152cbafaba89d96e68a152f209bd3058c7eb0413cbe1ab0764e96f
	sha256sums = e32801c38b475cd8df17a407726b86db3de26410f563d688325b4d4314fc5354
	sha256sums = 30c16bc4f83cbe376b853c1c130c0ba033008a87aaed8b53133043801cb838f0
	sha256sums = 376b7443426b899dcc62994ac7937c10b7f91cb1d9659dedbc926d9f267b607d
	sha256sums = 36cfdcddad0356411c9300407d7b4a3e380ee3d5fbdc7f2f7ba6741dfa696908
	sha256sums = 2a2cb6c0fde2ce5b200e90a2bf98fbfdbdb0ecb2751f5d398c7a0e4f5b43004c
	sha256sums = 6b778c8065a6e1f9a4dfa6b421ddaef57f1e2265b6fb026a300e11dc3321c4f9
	sha256sums = 5984902e6a929e7234810b3ec915d75410996b3087740a1afe4a43d438a3c229
	sha256sums = 6bf88a51db2841a7b769d56271ed31b503b80f9b7527b021ed4490275f3c925e
	sha256sums = 8ab7143665002c41fea63dead67f2d80630f77265caa1e2af949e10e8ade0974
	sha256sums = 030a6b176f988c04a410925105f537860af8782086252a6b7f73a52666e60868
	sha256sums = a93dfd26663bb136c3ac2c817d13cbb37de05b36de0361cce7c68dfaf575e895
	sha256sums = 2539d83d5fea6210d42a07928b30254238838d7eeb91c37af9ac7904d20672b6
	sha256sums = 6be9ef76942a2ba89c34382d0b4bf69d279ef5e80e0c10e5d25ff722f0859d66
	sha256sums = 9b6ecc425a8884086afadb6f8c62b23621fa9e593f342fa331bc005ff07410fc
	sha256sums = e3eb0bbb8459a6668a940458090ccf05d0db4ef50936fa17dae307dfd28f9ff0
	sha256sums = f4a1c905417de7261f56610307b2d3e5cb4c97719b0e16f2c39b8c9af30b3293
	sha256sums = fcf34f8a92773d8fe0ef0f2198d1a6d289a1393cbe585c788768728a8ac498ad

pkgname = amf-amdgpu-pro
	pkgdesc = AMDGPU Pro Advanced Multimedia Framework
	license = custom: AMDGPU-PRO EULA
	depends = libdrm
	depends = vulkan-icd-loader
	optdepends = rocm-opencl-runtime: Warning unspecified optdep description
	optdepends = vulkan-radeon: Warning unspecified optdep description

pkgname = amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver
	license = custom: AMDGPU-PRO EULA
	depends = libglvnd
	depends = libx11
	provides = libgl

pkgname = lib32-amdgpu-pro-oglp
	pkgdesc = AMDGPU Pro OpenGL driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = lib32-libx11
	provides = lib32-libgl

pkgname = vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver
	license = custom: AMDGPU-PRO EULA
	depends = vulkan-icd-loader
	depends = wayland
	depends = zlib
	optdepends = openssl-1.1: Warning unspecified optdep description
	provides = vulkan-driver

pkgname = lib32-vulkan-amdgpu-pro
	pkgdesc = AMDGPU Pro Vulkan driver (32-bit)
	license = custom: AMDGPU-PRO EULA
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-zlib
	optdepends = lib32-openssl-1.1: Warning unspecified optdep description
	provides = lib32-vulkan-driver
