pkgbase = 86box-roms
	pkgdesc = ROMs for the 86Box emulator
	pkgver = 6.0
	pkgrel = 1
	url = https://github.com/86Box/roms
	arch = any
	license = custom
	options = !strip
	source = https://github.com/86Box/roms/archive/refs/tags/v6.0.tar.gz
	sha512sums = 66a07b45d9f785322e71a0e3cb52eb9020c7d02dd3ca5945e463bf78b484911ea55779fdb676d5f754a70cbf5a54d3afdc574168098de44470fad6409871d3b5

pkgname = 86box-roms
