pkgbase = 86box-roms
	pkgdesc = ROMs for the 86Box emulator
	pkgver = 4.2.1
	pkgrel = 1
	url = https://github.com/86Box/roms
	arch = any
	license = custom
	options = !strip
	source = https://github.com/86Box/roms/archive/refs/tags/v4.2.1.tar.gz
	sha512sums = 188e1ebd8bef19d3e3d56260bd9340b3d583d55932ee2fbc5a4c6a4760b05adacef104e58b873dc79d87d6fb270356e569bf63a25956daedc2d84e5d16a9468f

pkgname = 86box-roms
