pkgbase = python-matrix-nio
	pkgdesc = Python Matrix client library, designed according to sans I/O principles
	pkgver = 0.25.2
	pkgrel = 4
	url = https://github.com/matrix-nio/matrix-nio
	changelog = CHANGELOG.md
	arch = any
	license = ISC
	checkdepends = python-aioresponses
	checkdepends = python-hpack
	checkdepends = python-hyperframe
	checkdepends = python-hypothesis
	checkdepends = python-faker
	checkdepends = mypy
	checkdepends = python-mypy_extensions
	checkdepends = pre-commit
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-aiohttp
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-cov
	checkdepends = python-atomicwrites
	checkdepends = python-cachetools
	checkdepends = python-peewee
	checkdepends = python-olm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-sphinx
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-poetry-core
	makedepends = tar
	depends = python
	depends = python-aiohttp
	depends = python-aiofiles
	depends = python-h11
	depends = python-h2
	depends = python-jsonschema
	depends = python-unpaddedbase64
	depends = python-pycryptodome
	depends = python-aiohttp-socks
	optdepends = python-atomicwrites: end-to-end encryption support
	optdepends = python-cachetools: end-to-end encryption support
	optdepends = python-peewee: end-to-end encryption support
	optdepends = python-olm: end-to-end encryption support
	noextract = python-matrix-nio-0.25.2.tar.gz
	source = python-matrix-nio-0.25.2.tar.gz::https://api.github.com/repos/matrix-nio/matrix-nio/tarball/refs/tags/0.25.2
	b2sums = f634d12f0d7e3325a1a8fae1bcc5346caa98009b5766049502daf0113ef8bf9e27a99207e12af80232c9837cae62ba4003a9d30a67929d4dabb8d89937894f60

pkgname = python-matrix-nio
