pkgbase = python-matrix-nio
	pkgdesc = Python Matrix client library, designed according to sans I/O principles
	pkgver = 0.25.1
	pkgrel = 1
	url = https://github.com/matrix-nio/matrix-nio
	changelog = CHANGELOG.md
	arch = any
	license = ISC
	checkdepends = python-aioresponses
	checkdepends = python-hpack
	checkdepends = python-hyperframe
	checkdepends = python-hypothesis
	checkdepends = python-faker
	checkdepends = mypy
	checkdepends = python-mypy_extensions
	checkdepends = pre-commit
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-aiohttp
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-cov
	checkdepends = python-atomicwrites
	checkdepends = python-cachetools
	checkdepends = python-peewee
	checkdepends = python-olm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-sphinx
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = tar
	makedepends = python-poetry-core
	depends = python
	depends = python-aiohttp
	depends = python-aiofiles
	depends = python-h11
	depends = python-h2
	depends = python-jsonschema
	depends = python-unpaddedbase64
	depends = python-pycryptodome
	depends = python-aiohttp-socks
	optdepends = python-atomicwrites: end-to-end encryption support
	optdepends = python-cachetools: end-to-end encryption support
	optdepends = python-peewee: end-to-end encryption support
	optdepends = python-olm: end-to-end encryption support
	source = python-matrix-nio-0.25.1.tar.gz::https://api.github.com/repos/matrix-nio/matrix-nio/tarball/refs/tags/0.25.1
	b2sums = 7dea3723300ef7b45e8670a105b6bcc5e131cd501f0b03737ca9a7c9d3337f92178a1e554c9e58f9d95b13477b318a02066cb5de8932ea879c0e85169e4a7099

pkgname = python-matrix-nio
