pkgbase = python-patman
	pkgdesc = Patman tool from U-boot
	pkgver = 2022.07
	pkgrel = 1
	url = https://www.denx.de/wiki/U-Boot
	arch = any
	license = GPL
	makedepends = python-setuptools
	makedepends = python-pytest
	depends = git
	depends = python
	depends = python-pygit2
	source = https://github.com/u-boot/u-boot/archive/refs/tags/v2022.07.tar.gz
	sha256sums = 1730dea306c016348efe641d812d4974745be3910af4769aecef740de549c81b

pkgname = python-patman
